/* ---------------------------------------------- */
/* Alexander Rozhkov, 01.11.2022, alexrozhkov.com */
/* ---------------------------------------------- */

/* fonts ------------------------------ */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

/* colors ------------------------------ */
:root {
  --color-0: #ffffff;
  --color-1: #000000;
  --color-2: #666666;
  --color-3: #4f9cf9;
  --color-4: #ffe492;
  --color-5: #a7cefc;
  --color-6: #212529;
  --color-7: #ffbf00;
  /* text ------------------------------ */
  --font-family: "Inter", sans-serif;
}

/* default styles ------------------------------ */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-2);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
body._lock {
  overflow: hidden;
}

/* wrapper ------------------------------ */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* title ------------------------------ */

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  color: #121212;
  text-align: center;
}

.title span {
  color: #ff6428;
}

/* pages ------------------------------ */
.page {
  flex: 1 1 auto;
}

.page__main {
}

.page__store {
}

/* __container ------------------------------ */
[class*="__container"] {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0px auto;
}

/* header ------------------------------ */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  gap: 131px;
  align-items: center;
  min-height: 152px;
}

.header__logo {
}
.header__menu {
}

.menu {
  padding: 10px 10px 10px 0px;
  background-color: #ffffffc0;
  border-radius: 8px;
}

.menu__list {
  display: flex;
  column-gap: 56px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.menu__item {
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(18, 18, 18, 0.4);
}

.menu__link:hover {
  text-decoration: underline;
}

/* main ------------------------------ */
.main {
  padding-bottom: 80px;
}

.main__container {
  display: flex;
}

.main__content {
  flex: 0 1 50%;
  align-self: flex-end;
  padding-top: 120px;
  padding-bottom: 60px;
  padding-right: 20px;
}

.main__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  color: #121212;
}

.main__title span {
  color: #ff6428;
}

.main__title:not(:last-child) {
  margin-bottom: 16px;
}

.main__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  max-width: 420px;
}

.main__text:not(:last-child) {
  margin-bottom: 31px;
}

.main__actions {
}

.actions-main {
  display: flex;
  align-items: center;
}

.actions-main__button {
  text-align: center;
  padding: 18.5px 48px;
  background: #ff6428;
  border-radius: 40px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  transition: all 0.3s ease 0s;
}

.actions-main__button:hover {
  background-color: #c13a05;
}

.actions-main__button:not(:last-child) {
  margin-right: 40px;
}

.action-main__icon {
}

.action-main__icon:not(:last-child) {
  margin-right: 27px;
}

.main__decor {
  flex: 0 1 50%;
}

.main__image {
  display: inline-block;
  position: relative;
  margin-right: -135px;
}

.main__image img {
  max-width: 672px;
}

.main__image::after {
  content: "";
  background: url("../img/main/decor.svg") 0 0 no-repeat;
  width: 80px;
  height: 80px;
  right: 36.3%;
  bottom: 0;
  transform: translate(0, 50%);
  position: absolute;
}

/* store */

.store {
  padding: 80px 0px 80px 0px;
}

.store__container {
}

.store__title {
  margin-bottom: 86px;
}

.title {
}

.store__body {
}

.body-store {
}

.body-store__header {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.body-store__title {
  font-size: 20px;
  letter-spacing: 0.08em;
  line-height: 1.5;
  text-transform: uppercase;
  color: #121212;
  font-weight: 600;
}

.body-store__all {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #868686;
}

.body-store__all:hover {
  text-decoration: underline;
}

.body-store__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}

.body-store__item {
}

.item {
  display: grid;
}

.item__image {
  text-align: center;
}

.item__image img {
  max-width: 100%;
}

.item__image:not(:last-child) {
  margin-bottom: 40px;
}

.item__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #121212;
  justify-self: start;
}

.item__title:not(:last-child) {
  margin-bottom: 7px;
}

.item__title:hover {
  text-decoration: underline;
}

.item__price {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

@media (max-width: 1092px) {
  .header__container {
    gap: 50px;
    min-height: 100px;
  }

  .menu__list {
    column-gap: 40px;
  }

  .main__image img {
    width: 100%;
  }

  .main__content {
    flex: 0 0 60%;
    padding-bottom: 0;
  }

  .main__decor {
    flex: 0 0 30%;
  }
}

@media (max-width: 991.98px) {
  .main {
    padding-bottom: 50px;
  }
  .store {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .store__title {
    margin-bottom: 50px;
  }

  .body-store__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .main {
    padding-bottom: 30px;
  }

  .store {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .title {
    font-size: 38px;
  }

  .header__container {
    min-height: 65px;
  }

  .main__content {
    flex: 1 1 100%;
    padding-right: 0;
    padding-top: 80px;
  }

  .main__decor {
    display: none;
  }

  .main__title {
    font-weight: 700;
    font-size: 44px;
  }

  .main__text {
    max-width: 100%;
  }

  .store__title {
    margin-bottom: 20px;
  }

  .item__image:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media (max-width: 560px) {
  .body-store__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .body-store__header {
    gap: 0px;
  }
}

@media (max-width: 479.98px) {
  .header__container {
    gap: 15px;
  }

  .menu__list {
    column-gap: 20px;
  }

  .header__logo {
    width: 28px;
    flex: 0 0 28px;
    overflow: hidden;
  }

  .menu {
    padding: 0;
  }

  .actions-main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .actions-main__button {
    flex: 1 1 100%;
  }

  .actions-main__button:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

/*  */
